@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-warmBg text-zinc-800 antialiased;
}

/* ───────────────────────────── */
/* LEAFLET MINIMAL MAP FILTER */
/* ───────────────────────────── */

.leaflet-tile {
  
}